---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "normalize";
@import "grid";
@import "solarized";

$column-width: 60px;
$gutter-width: 20px;
$columns: 12;
$total-width: 100%;

$point-col: $blue;
$fg-col: $base01;
$bg-col: #FFFFFF;
$dimmed-fg-col: $base0;

$code-fg-col: $base0;
$code-bg-col: $base3;


html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "NanumGothic", "Malgun Gothic", "AppleSDGothicNeo", "AppleGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: $fg-col;
  background-color: $bg-col;
  box-sizing: border-box;
}

body > nav,
body > header,
body > footer,
body > section {
  margin: 6rem auto;
  padding: 0 2rem;
}


body > nav {
  margin: 1.5rem auto;
  font-weight: bold;
  background-color: white;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
  }
  li > a {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  li.active > a {
    color: #FFF;
    background-color: $point-col;
  }
}


body > header {
  background: black url(/img/banner.png) 10% 50%;
  margin-top: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 3rem;
    font-family: "Inconsolata", "Droid Sans Mono", monospace;
    text-transform: uppercase;

    a {
      color: #EEE;
    }
  }
  p {
    margin: 0;
    font-size: 2rem;
    color: #EEE;
  }
}


body > footer {
  margin-bottom: 1rem;
  border-top: 1px solid #DDD;
  text-align: center;
}


body > .intro {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  font-size: 1.5rem;
}


body > .recent-posts {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;

  h1 {
    display: none;
  }

  ol {
    padding-left: 0;
    list-style-type: none;
  }

  li {
    padding: 2rem 0;
    border-top: 1px solid #DDD;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  time,
  .author {
    font-size: 1rem;
    color: $dimmed-fg-col;
    display: inline;
    margin-right: 0.5rem;
  }
}


body > .post {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;

  header {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #DDD;

    h1 {
      font-size: 2rem;
      margin: 0;
    }
  }

  article {
    pre {
      font-family: Monaco, "DejaVu Sans Mono", "Courier New", monospace;
      font-size: 0.9rem;
      margin: 1rem 0;
      padding: 1rem;
      color: $code-fg-col;
      background-color: $code-bg-col;
    }

    p > code,
    li > code {
      font-family: Monaco, "DejaVu Sans Mono", "Courier New", monospace;
      font-size: 0.9rem;
      padding: 1px 2px;
      border-radious: 3px;
      color: $code-fg-col;
      background-color: $code-bg-col;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 3rem 0 1rem;
    }
    h1 {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    h3, h4, h5, h6 {
      font-size: 1.2rem;
    }

    img {
      max-width: 100%;
    }
  }

  .social-buttons {
    margin-bottom: 2rem;
  }

  nav {
    ol {
      list-style-type: none;
      padding-left: 0;
    }

    h2 {
      margin: 0;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}


a {
  text-decoration: none;
  color: $point-col;
}

h1 > a {
  color: $fg-col;
  text-decoration: none;
}


@media (max-width: 600px) {
  body > nav,
  body > header,
  body > footer,
  body > section {
    margin: 4rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


@media (max-width: 500px) {
  body > nav,
  body > header,
  body > footer,
  body > section {
    margin: 2rem auto;
  }

  body > header {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}


@import "syntax-highlighting";
