---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "normalize";

html {
  height: 100%;
  margin: 0;
  padding: 0;

  text-shadow: 1px 1px #fff;
  font-size: 24px;
  font-family: "NanumGothic", "Malgun Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  position: relative;

  padding: 2em;
  box-sizing: border-box;
  background-color: #f2f2f2;

  max-width: 48em;
  margin: 0 auto;
}

body > header,
body > section,
body > footer {
  margin: 1em 0 2em;
}

body > header {
  h1 {
    font-size: 2.2em;
    margin: 0;
    padding: 0.1em 0;

    a {color: inherit;}
    a:hover {border-bottom-width: 0;}
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Droid Sans Mono", Monospace;
  margin: 1em 0;
  text-transform: uppercase;
  line-height: 160%;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.2em;
}

p {
  margin: 1em 0 1.5em;
  font-size: 0.8em;
  line-height: 160%;
}

a {
  color: #2e87dd;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #2e87dd;
}


@media (max-width:800px) {
  body {font-size: 20px;}
  p {font-size: 1.0em;}
}
@media (max-width:700px) {
  body {font-size: 16px;}
  p {font-size: 1.0em;}
}
@media (max-width:600px) {
  body {font-size: 14px;}
  p {font-size: 1.2em;}
}
@media (max-width:500px) {
  body {font-size: 12px;}
  p {font-size: 1.2em;}
}
@media (max-width:400px) {
  body {font-size: 10px;}
  p {font-size: 1.3em;}
}
@media (max-width:360px) {
  body {font-size: 9px;}
  p {font-size: 1.5em;}
}


.recent-posts {
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 1em 0 1.5em;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  time {
  }
  .author {
  }
}


.post {
  header {
    margin: 1em 0 2em;

    h1 {
      margin: 0;
      padding: 0.2em 0;

      a {
        color: inherit;
      }
      a:hover {
        border-bottom-width: 0;
      }
    }

    time {
    }

    .author {
    }
  }

  article {
    img {
      max-width: 100%;
      background-color: white;
      box-shadow: 1px 1px 2px #888;
    }
    pre {
      margin: 1em 0 1.5em;
      padding: 1em 1.5em;
      background-color: #FFF;
      box-shadow: 1px 1px 2px #888;
    }
    code {
      font-family: "Droid Sans Mono", Monospace;
    }
  }

  footer {
    nav ol {
      list-style-type: none;
      margin: 1em 0 3em;
      padding: 0;
    }
  }
}

@import "syntax-highlighting";
