<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager: This is for test / 2022-11-25 -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5F7C47L');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.brief %}{{ page.brief }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %}{{ page.title }} :: {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Khand:300|Petit+Formal+Script&text=-%5B%7C%5D-%20BOXANDWHISKER%20OptimizeTheWorld">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Box and Whisker">

    <!-- Open Graph properties { -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:site_name" content="-[|]- Box and Whisker">
    <meta property="og:description" content="{% if page.brief %}{{ page.brief }}{% else %}{{ site.title }}{% endif %}" />
    <!-- } Open Graph properties -->
</head>

<body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54389241-1"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag(){dataLayer.push(arguments)}
  gtag('js', new Date())
  gtag('config', 'UA-54389241-1')
</script>
<!-- End GA -->

<!-- Google Tag Manager (noscript): This is for test / 2022-11-25 -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F7C47L"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav>
    <ul>
        {% for item in site.navigation %}
        {% if page.url == item.url %}
        <li class="active"><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% else %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="search">
            <form class="searchform" method="get" action="#">
                <input type="text" name="q" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
        </li>
        <script>
        document.querySelector('.searchform').addEventListener('submit', function(e) {
            var value = encodeURIComponent(document.querySelector('.searchform input[name="q"]').value);
            gtag('config', 'UA-54389241-1', {
                'page_path': '/search.html?q=' + value,
                'page_title': 'Search'
            });

            window.setTimeout(function() {
                location.href = 'https://www.google.com/webhp?ie=UTF-8#q=site:boxnwhis.kr%20' + value;
            }, 200);

            e.preventDefault();
            return false;
        });
        </script>
    </ul>
</nav>

<header>
    <h1><a href="/">
        <span class="logo">-[|]-</span>
        <span class="title">Box and Whisker</span>
    </a></h1>
    <p>Optimize the World</p>
</header>

{{ content }}

<footer>
    <p>
        &copy; Copyright 2014-2021, Box and Whisker<br>
        <a href="mailto:whisker@boxnwhis.kr">whisker@boxnwhis.kr</a>
    </p>
</footer>

</body>
</html>
