<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.brief %}{{ page.brief }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %}{{ page.title }} :: {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Khand:300|Petit+Formal+Script&text=-%5B%7C%5D-%20BOXANDWHISKER%20OptimizeTheWorld">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Box and Whisker">

    <!-- Open Graph properties { -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:site_name" content="-[|]- Box and Whisker">
    <meta property="og:description" content="{% if page.brief %}{{ page.brief }}{% else %}{{ site.title }}{% endif %}" />
    <!-- } Open Graph properties -->
</head>

<body>

<!-- GA -->
<script>
if(location.hostname !== 'boxnwhis.kr' && location.hostname !== 'www.boxnwhis.kr') {
    var ga = function() {}
} else {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-54389241-1', 'auto');
    ga('require', 'displayfeatures');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');
}
</script>
<!-- End GA -->

<nav>
    <ul>
        {% for item in site.navigation %}
        {% if page.url == item.url %}
        <li class="active"><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% else %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="search">
            <form class="searchform" method="get" action="#">
                <input type="text" name="q" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
        </li>
        <script>
        document.querySelector('.searchform').addEventListener('submit', function(e) {
            var value = encodeURIComponent(document.querySelector('.searchform input[name="q"]').value);
            ga('send', {
                'hitType': 'pageview',
                'page': '/search.html?q=' + value,
                'title': 'Search'
            });

            window.setTimeout(function() {
                location.href = 'https://www.google.com/webhp?ie=UTF-8#q=site:www.boxnwhis.kr%20' + value;
            }, 200);

            e.preventDefault();
            return false;
        });
        </script>
    </ul>
</nav>

<header>
    <h1><a href="/">
        <span class="logo">-[|]-</span>
        <span class="title">Box and Whisker</span>
    </a></h1>
    <p>Optimize the World</p>
</header>

{{ content }}

<footer>
    <p>
        &copy; Copyright 2016, Box and Whisker<br>
        <a href="mailto:whisker@boxnwhis.kr">whisker@boxnwhis.kr</a>
    </p>
</footer>

<!-- Greedy Bandit -->
<style>
    body.fixed > nav {
        position: fixed;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 1px 2px #BBB;
        z-index: 1;
    }
    body.fixed > header {
        margin-top: 3.5rem;
    }
    body.fixed .social-buttons {
        z-index: 0;
    }
</style>

<script src="//boxnwhiskr.github.io/gbbox-sdk-js/gbbox-sdk.js" ></script>
<script type="text/javascript">
    (function() {
        var gbbox = new _gbbox.API('http://52.78.245.125', 'blahblah');

        var currentPageIsPost = document.location.href.split('/')[3] > 2000;
        if(currentPageIsPost) {
            gbbox.route(['fixgnb'], function(assignments) {
                var exp = assignments['fixgnb'];
                if(exp.arms.fix === 'yes') {
	                document.body.setAttribute('class', 'fixed');
                }
                gbbox.sendPageview();
            });
        } else {
            gbbox.sendPageview();
        }
    })();
</script>
<!-- End Greedy Bandit -->

</body>
</html>
