<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }} :: {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Khand:300|Petit+Formal+Script&text=-%5B%7C%5D-%20BOXANDWHISKER%20OptimizeTheWorld">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Box and Whisker">

    <!-- Open Graph properties { -->
    <meta property="og:site_name" content="-[|]- Box and Whisker">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} :: {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="/img/icon400.png" />
    <!-- } Open Graph properties -->
</head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W9QS49"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W9QS49');</script>
<!-- End Google Tag Manager -->


<nav>
    <ul>
        {% for item in site.navigation %}
        {% if page.url == item.url %}
        <li class="active"><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% else %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

<header>
    <h1><a href="/">
        <span class="logo">-[|]-</span>
        <span class="title">Box and Whisker</span>
    </a></h1>
    <p>Optimize the World</p>
</header>

{{ content }}

<footer>
    <p>
        &copy; Copyright 2015, Box and Whisker<br>
        <a href="mailto:whisker@boxnwhis.kr">whisker@boxnwhis.kr</a>
    </p>
</footer>

</body>
</html>
