---
layout: default
---
<!-- MathJax -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- Facebook plugin -->
<div id="fb-root" style="display: none"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=613868738726819&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Read event -->
<script>
try {
    document.addEventListener("DOMContentLoaded", function() {
        var accumScrollMove = 0;
        // Set it 1 msecs to avoid div by zero error
        var accumScrollTime = 1;
        var latestScrollTop = 0;
        var latestScrollAt = new Date();

        function checkScroll() {
            // 1. Check scrollbar movement speed
            var scrollTop = document.body.scrollTop;
            var scrollAt = new Date();
            var scrollTopDelta = Math.abs(latestScrollTop - scrollTop);
            var scrollTimeDelta = Math.min(scrollAt - latestScrollAt, 5 * 60 * 1000); // limit max time-delta to 5 minutes
            if(scrollTopDelta !== 0) {
                latestScrollTop = scrollTop;
                latestScrollAt = scrollAt;
                accumScrollMove += scrollTopDelta;
                accumScrollTime += scrollTimeDelta;
            }

            // 2. Check event firing condition
            if(accumScrollTime > 30 * 1000 && scrollTop / document.body.scrollHeight > 0.8) {
                var pixelPerSec = Math.floor(accumScrollMove / accumScrollTime * 1000);
                var label = pixelPerSec > 100 ? 'skimmer' : 'reader';
                ga('send', 'event', 'read', 'pps', label, pixelPerSec);
            } else {
                window.setTimeout(checkScroll, 500);
            }
        }

        checkScroll();
    });
} catch(e) {}
</script>

<!-- IPython Notebook -->
<script>
document.addEventListener("DOMContentLoaded", function(e) {
    var cells = document.querySelectorAll('article .cell');
    for(var i = 0; i < cells.length; i++) {
        var cell = cells[i];
        cell.addEventListener('click', function() {
            var curClasses = this.getAttribute('class');
            if(curClasses.indexOf(' expanded') !== -1) {
                this.setAttribute('class', curClasses.substring(0, curClasses.length - 9));
            } else {
                this.setAttribute('class', curClasses + ' expanded');
            }
        });
    }
});
</script>

<!-- Align image to center -->
<script>
document.addEventListener("DOMContentLoaded", function(e) {
    var imgs = document.querySelectorAll('article img');
    for(var i = 0; i < imgs.length; i++) {
        var img = imgs[i];
        var parent = img.parentNode;
        if(parent.firstChild === parent.lastChild) {
            parent.setAttribute('class', 'center');
        }
    }
});
</script>

<section class="post" itemscope itemtype="https://schema.org/BlogPosting">
    <h1><a href="{{ page.url }}"><span itemprop="name">{{ page.title }}</span></a></h1>
    <header>
        <time datetime="{{ page.date | date: "%Y-%m-%dT%h:%M:%sZ" }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
        </time>

        <div class="author" itemprop="author" itemscope itemtype="https://schema.org/Person">
        {% for member in site.data.members %}
            {% if member.name == page.author %}
            <img class="profile" src="{{ member.image }}" alt="{{ member.name }}" itemprop="image">
            <span class="title" itemprop="jobTitle">{{ member.title }}</span>
            <br>
            <span class="name" itemprop="author">{{ member.name }}</span>
            {% endif %}
        {% endfor %}
        </div>
    </header>

    <article itemprop="articleBody">
    {{ content }}
    </article>

    <div class="social-buttons" style="overflow-x: hidden;">
        <div class="fb-like" data-href="{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

    <form class="poll">
        <ul>
            <li>
                <p class="question difficulty">글의 난이도가 적절하였나요?</p>
                <ol class="rating">
                    <li>
                        <label>
                            <input type="radio" name="difficulty" value="1">
                            <span>너무 쉽다</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="difficulty" value="2">
                            <span>약간 쉽다</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="difficulty" value="3">
                            <span>적절하다</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="difficulty" value="4">
                            <span>약간 어렵다</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="difficulty" value="5">
                            <span>너무 어렵다</span>
                        </label>
                    </li>
                </ol>
            </li>
            <li>
                <p class="question helpful">실무 혹은 학업에 도움이 되었나요?</p>
                <ol class="rating">
                    <li>
                        <label>
                            <input type="radio" name="helpful" value="1">
                            <span>전혀 도움이 안된다</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="helpful" value="2">
                            <span>별로 도움이 안된다</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="helpful" value="3">
                            <span>보통이다</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="helpful" value="4">
                            <span>약간 도움이 된다</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="helpful" value="5">
                            <span>매우 도움이 된다</span>
                        </label>
                    </li>
                </ol>
            </li>
        </ul>

        <input type="submit" value="설문 참여">
    </form>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var form = document.querySelector('form.poll');
        form.addEventListener('submit', function(e) {
            e.preventDefault();

            var difficultyEl = document.querySelector('input[name="difficulty"]:checked');
            var helpfulEl = document.querySelector('input[name="helpful"]:checked');
            var difficulty = difficultyEl ? difficultyEl.value : '';
            var helpful = helpfulEl ? helpfulEl.value : '';
            if(difficulty === '' || helpful === '') return false;

            var difficultyValue = 5 - Math.abs(3 - difficulty) * 2;
            var helpfulValue = +helpful;

            var submitButton = document.querySelector('form.poll input[type="submit"]');
            submitButton.disabled = true;
            submitButton.value = '감사합니다';
            submitButton.setAttribute('class', 'closed');

            ga('send', 'event', 'poll', 'difficulty', difficulty, difficultyValue);
            ga('send', 'event', 'poll', 'helpful', helpful, helpfulValue);
            return false;
        });
    });
    </script>

    <nav>
        <ol>
            {% if page.next.url %}
            <li>
                <h2>다음 글: <a class="newer" href="{{page.next.url}}">{{page.next.title}}</a></h2>
            </li>
            {% endif %}
            {% if page.previous.url %}
            <li>
                <h2>이전 글: <a class="older" href="{{page.previous.url}}">{{page.previous.title}}</a></h2>
            </li>
            {% endif %}
        </ol>
    </nav>
</section>
