---
layout: default
---
<!-- MathJax -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- Facebook plugin -->
<div id="fb-root" style="display: none"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=613868738726819&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- IPython Notebook -->
<script>
document.addEventListener("DOMContentLoaded", function(e) {
    var cells = document.querySelectorAll('article .cell');
    for(var i = 0; i < cells.length; i++) {
        var cell = cells[i];
        cell.addEventListener('click', function() {
            var curClasses = this.getAttribute('class');
            if(curClasses.indexOf(' expanded') !== -1) {
                this.setAttribute('class', curClasses.substring(0, curClasses.length - 9));
            } else {
                this.setAttribute('class', curClasses + ' expanded');
            }
        });
    }
});
</script>

<section class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1><a href="{{ page.url }}"><span itemprop="name">{{ page.title }}</span></a></h1>
    <header>
        <img class="profile" src="/img/people/{% if page.author == "강규영" %}alan{% elsif page.author == "박장시" %}jangsea{% else %}chanjoo{% endif %}.png" alt="{{ page.author }}">
        <time datetime="{{ page.date | date: "%Y-%m-%dT%h:%M:%sZ" }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
        </time>
        <div class="author" itemprop="author">{{ page.author }}</div>
    </header>

    <article itemprop="articleBody">
    {{ content }}
    </article>

    <div class="social-buttons" style="overflow-x: hidden;">
        <div class="fb-like" data-href="{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

    <nav>
        <ol>
            {% if page.next.url %}
            <li>
                <h2>다음글: <a class="newer" href="{{page.next.url}}">{{page.next.title}}</a></h2>
            </li>
            {% endif %}
            {% if page.previous.url %}
            <li>
                <h2>이전글: <a class="older" href="{{page.previous.url}}">{{page.previous.title}}</a></h2>
            </li>
            {% endif %}
        </ol>
    </nav>
</section>
